@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-background-light: #ffffff;
  --color-foreground-light: #171717;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-foreground-light);
}

.dark {
  --background: var(--color-background-dark);
  --foreground: var(--color-foreground-dark);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
